.main-div {
    width: 40%;
    margin: auto;
}

.ul-list-main {
    list-style: none;
}

.ch-background {
    background-color: #2070B6;
    color: white;
}

.cb-background {
    background-color: #6589A8;
    color: white;
}