<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body>

    <div class="text-center main-div">
        <hr />
        <h3 >Select your competency:</h3>
        <br />
        <ul class="ul-list-main">
            <li>
        <div class="card">
            <div class="card-header ch-background" id="completed-task">
                Cabin Drill
            </div>
            <div class="card-block cb-background" id="completed-body">
                <h5 class="card-title">Involves the following:</h5>
                <p class="card-text">
                    <div>
                        Competency 1
                    </div>
                    <div>
                        Competency 2
                    </div>
                    <br />
                    <div>
                        Select to view description of tasks
                    </div>
                </p>
                <a href="./map.html" class="btn btn-primary btn-list-circle" id="btn-circle-completed">Go</a> - Completed &#x2713
            </div>
        </div>
            </li>
            <li>
                        <div class="card">
            <div class="card-header ch-background">
                Starting & Moving Off
            </div>
            <div class="card-block cb-background">
                <h5 class="card-title">Involves the following:</h5>
                <p class="card-text">
                    <div>
                        Competency 1
                    </div>
                    <div>
                        Competency 2
                    </div>
                    <br />
                    <div>
                        Select to view description of tasks
                    </div>
                </p>
                <a href="./map.html" class="btn btn-primary btn-list-circle">Go</a>
            </div>
        </div>
            </li>
            <li>        <div class="card">
            <div class="card-header ch-background">
                Using Gears
            </div>
            <div class="card-block cb-background">
                <h5 class="card-title">Involves the following:</h5>
                <p class="card-text">
                    <div>
                        Competency 1
                    </div>
                    <div>
                        Competency 2
                    </div>
                    <br />
                    <div>
                        Select to view description of tasks
                    </div>
                </p>
                <a href="./map.html" class="btn btn-primary btn-list-circle">Go</a>
            </div>
        </div></li>
            <li>        <div class="card">
            <div class="card-header ch-background">
                Steering Control
            </div>
            <div class="card-block cb-background">
                <h5 class="card-title">Involves the following:</h5>
                <p class="card-text">
                    <div>
                        Competency 1
                    </div>
                    <div>
                        Competency 2
                    </div>
                    <br />
                    <div>
                        Select to view description of tasks
                    </div>
                </p>
                <a href="./map.html" class="btn btn-primary btn-list-circle">Go</a>
            </div>
        </div></li>
            <li>        <div class="card">
            <div class="card-header ch-background">
                Speed Control
            </div>
            <div class="card-block cb-background">
                <h5 class="card-title">Involves the following:</h5>
                <p class="card-text">
                    <div>
                        Competency 1
                    </div>
                    <div>
                        Competency 2
                    </div>
                    <br />
                    <div>
                        Select to view description of tasks
                    </div>
                </p>
                <a href="./map.html" class="btn btn-primary btn-list-circle">Go</a>
            </div>
        </div></li>
        </ul>

    </div>

    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="../javascript/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyChEV2h1CzUazyTw3CUoBJnxhyMXY1fyFA&callback=initMap">
    </script>
  </body>
</html>