<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body>

    <div class="text-center main-div">
        <hr />
        <div class="card">
            <div class="card-header ch-background">
                Steering Controls
            </div>
            <div class="card-block cb-background">
                <h5 class="card-title">Involves the following:</h5>
                <p class="card-text">
                    <div>
                        Right Hand turns
                    </div>
                    <div>
                        Give Way at an Intersection
                    </div>
                    <div>
                        Turn across traffic
                    </div>
                </p>
                <a href="./map.html" class="btn btn-primary begin-btn">Begin</a>
            </div>
        </div>

    </div>

    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="../javascript/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyChEV2h1CzUazyTw3CUoBJnxhyMXY1fyFA&callback=initMap">
    </script>
  </body>
</html>